@charset "utf-8";

div#about1 {
	text-align: center;
	color: rgb(47,84,105);
	margin-bottom: 45px;
	font-size: 1.4em;
}

div#about1 h1 {
	font-size: 2em;
	font-family: Bookman, "URW Bookman L", serif;
	font-weight: 50;
	margin:8px;
	font-style: italic;
}

div#about2 p {
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 310px;
}

div#about2 {
	background-color: rgb(232,215,252);
	color: rgb(89,59,125);
	font-size: 1.4em;
}

div#about2 img {
	margin-top: 50px;
	margin-bottom: 50px;
}